<div class="col">
  <div class="tabs">
    <div class="tab">
      <input class="accordion-input" type="radio" id="rd1" name="rd" />
      <label class="tab-label" for="rd1">Monthly Theme Club</label>
      <div class="tab-content position-relative">
        <img class="club-img" src="/assets/assets/horrorCat.png" alt="" />
        <div class="club-content horror-club">
          <h2 class="club-text title-font">Join our Horror Club</h2>
          <a href="/lol">
            <button class="btn">Join Club!</button>
          </a>
        </div>
      </div>
    </div>
    <div class="tab">
      <input class="accordion-input" type="radio" id="rd2" name="rd" />
      <label class="tab-label" for="rd2">YA Club</label>
      <div class="tab-content position-relative">
        <img class="club-img" src="/assets/assets/yaClub.png" alt="" />
        <div class="club-content ya-club">
          <h2 class="club-text title-font ya-text">Join more YA in this club</h2>
          <a href="/lol">
            <button class="btn">Join Club!</button>
          </a>
        </div>
      </div>
    </div>
    <div class="tab">
      <input class="accordion-input" type="radio" id="rd3" name="rd" />
      <label for="rd3" class="tab-label">Kids Club</label>
      <div class="tab-content position-relative">
        <img class="club-img" src="/assets/assets/kidsClub.png" alt="" />
        <div class="club-content kids-club">
          <h2 class="club-text title-font kids-text">Join our Club with your child</h2>
          <a href="/lol">
            <button class="btn">Join Club!</button>
          </a>
        </div>
      </div>
    </div>
    <div class="tab">
      <input class="accordion-input" type="radio" id="rd4" name="rd" />
      <label for="rd4" class="tab-close">Close all &times;</label>
    </div>
  </div>
</div>
