<div class="genres-card">
  <h4 class="browse-by-genre header-font">Browse by your favorite genre:</h4>

  <% const availableGenres = ['Horror','Psychology','Young Adult','Non Fiction', 'kids', 'Science Fiction','All Genres']
  %>

  <div class="genre-container">
    <% availableGenres.forEach(genre => { %> <% if(genre !== 'All Genres') {%>
    <a href="/browse?genre=<%= genre %> ">
      <button class="pills pill-btn content-font"><%= genre %></button>
    </a>
    <% } else { %>
    <a href="/browse"> <button class="pills pill-btn content-font"><%= genre %></button></a>
    <% } %> <% }) %>
  </div>
</div>
