<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/logos/logo-sm.png" type="image/x-icon" />

    <script src="../../public/scripts/app.js"></script>

    <link rel="stylesheet" href="../../public/styles/styles.css" />
    <title>bestreads | <%= page %></title>
  </head>
</html>
