<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="../../assets/logos/logo-sm.png" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <% if (typeof script !== 'undefined' ) { %>
    <script defer src="../../public/scripts/<%= script %>.js"></script>
    <% } else { %>
    <script defer src="../../public/scripts/app.js"></script>
    <% } %>

    <link rel="stylesheet" href="../../public/styles/styles.css" type="text/css" />
    <title>bestreads | <%= page %></title>
  </head>
</html>
