<div class="login-content">
  <form action="/user/login" method="POST" autocomplete="off">
    <!-- Username Field -->
    <div class="field-container">
      <label class="label">Name:</label>
      <div class="input-container">
        <input type="text" class="data-input" placeholder="Your Name" name="name" />
      </div>
    </div>

    <!-- Password field -->
    <div class="field-container">
      <label class="label">Password:</label>
      <div class="input-container">
        <input type="password" class="data-input" placeholder="***********" name="password" />
      </div>
    </div>

    <div class="log-user-container">
      <button class="btn log-user-in confirm">Log In</button>
    </div>
  </form>
  <div class="register-user-container">
    <a href="/user/register">
      <button class="btn register-user">Register</button>
    </a>
  </div>
</div>
