<nav class="nav-bar" id="nav-container">
  <div class="content-container">
    <section class="nav-logo-container">
      <img src="../../assets/logos/logo-full.png" alt="bestreads logo" class="nav-logo" />
    </section>

    <!-- <section class="search-bar-container"> -->
    <form action="/search" class="search-form search-bar-container">
      <input class="search-bar" type="text" placeholder="Search books" name="q" />
      <!-- <input type="hidden" placeholder="Search books" name="qid" /> -->
      <button type="submit" class="search-icon" aria-label="Search"><i class="fas fa-search"></i></button>
    </form>
    <!-- </section> -->

    <section class="nav-links-container">
      <ul class="nav-links">
        <li class="nav-link">Browse</li>
        <li class="nav-link">My Books</li>
      </ul>
    </section>
  </div>
</nav>
