<nav class="nav-bar" id="nav-container">
  <div class="content-container">
    <section class="nav-logo-container">
      <img src="../../assets/logos/logo-full.png" alt="bestreads logo" class="nav-logo" />
    </section>

    <!-- Nav Links -->
    <section class="nav-links-container">
      <ul class="nav-links">
        <li class="nav-link">
          <a href="/browse">Browse</a>
        </li>
        <li class="nav-link">My Books</li>
      </ul>
    </section>

    <!-- <section class="search-bar-container"> -->
    <form action="/search" class="search-form search-bar-container">
      <input class="search-bar" type="text" placeholder="Search books" name="q" />
      <!-- <input type="hidden" placeholder="Search books" name="qid" /> -->
      <button type="submit" class="search-icon" aria-label="Search"><i class="fas fa-search"></i></button>
    </form>
    <!-- </section> -->

    <section class="log-info">
      <section class="user-info">
        <% if (typeof user !== 'undefined') { %>
        <section class="navbar-item"><%= user.name %></div>
      </section>
      <section class="log-links">
        <ul>
          <li class="nav-link"><a href="/user/logout">Logout</a></li>
        </ul>
      </section>
    </section>
    <% } else { %>
    </section>
  </section>
    <section class="log-in-register">
      <section>
        <ul>
          <li class="nav-link"><a href="/user/login">Log In</a></li>
        </ul>
      </section>
      <section class="log-links">
        <ul>
          <li class="nav-link"><a href="/user/register">Register</a></li>
        </ul>
      </section>
    </section>

    <% } %>
  </div>
</nav>
