<%- include('./partials/head.ejs', {page: 'Welcome'}) %>

<body class="hide-scrollbar">
  <!-- Nav -->
  <%- include('./partials/nav.ejs') %>

  <h1>
    <div class="flex center-content">
        <div class="center-text">
          <h1 class="title-font lol-text">404: Ain't nothin' here!</h1>
        </div>
      </div>
    </main>
  </h1>
</body>
