<!-- HTML HEAD -->
<%- include('./partials/head.ejs', {page: 'Home', script: 'collection'}) %>

<body class="not-logged-splash-body">
  <!-- Not Logged Nav -->
  <nav class="not-logged-nav-bar">
    <div class="not-logged-content-container">
      <section class="not-logged-nav-logo-container">
        <a href="/">
          <img src="../../assets/logos/logo-full.png" alt="bestreads logo" class="not-logged-nav-logo" />
        </a>
      </section>
    </div>
  </nav>
  <div class="not-logged-splash-bg">
    <img class="splash-cat" src="../assets/assets/splashCat.png" alt="" />
  </div>

  <main class="main-content-splash-not-logged">
    <section class="login-container splash-log-module">
      <!-- Login -->
      <%- include('./partials/loginComponent.ejs') %>
    </section>

    <hr class="line-break" />

    <div class="welcome-not-logged header-font">
      <h1>Find your new favorite book:</h1>
    </div>
    <section class="bottom-feature">
      <!--  -->
      <%- include('./partials/bookShowCard.ejs') %>
    </section>
  </main>
</body>
