<!-- HTML HEAD -->
<%- include('./partials/head.ejs', {page: 'Welcome'}) %>

<body>
  <!-- Nav -->
  <%- include('./partials/nav.ejs', {user}) %>

  <main>
    <p>Yo <%= user.name %></p>
  </main>
</body>
