<%- include('./partials/head.ejs', {page: 'Welcome'}) %>
<body class="hide-scrollbar">
  <!-- Nav -->
  <%- include('./partials/nav.ejs', {user}) %>

  <main>
    <div class="flex center-content">
      <div class="center-text">
        <h1 class="title-font lol-text">Lol, you think we got this far in 4 days?</h1>
      </div>
    </div>
  </main>
</body>
