<%- include('../partials/head.ejs', {page: 'Register'}) %>

<body>
  <%- include('../partials/nav.ejs') %>
  <main>
    <section class="add-book-section">
      <form action="/user/login" method="POST" autocomplete="off">
        <!-- Username Field -->
        <div class="field-container">
          <label class="label">Name:</label>
          <div class="input-container">
            <input type="text" class="data-input" placeholder="Your Name" name="name" />
          </div>
        </div>

        <!-- Password field -->
        <div class="field-container">
          <label class="label">Password:</label>
          <div class="input-container">
            <input type="text" class="data-input" placeholder="******" name="password" />
          </div>
        </div>

        <div class="create-book-container">
          <button class="btn register-user">Log In</button>
        </div>
      </form>
    </section>
  </main>
</body>
