<%- include('../partials/head.ejs', {page: 'My Books'}) %>

<body>
  <%- include('../partials/nav.ejs') %>

  <main>
    <h2 class="title-content">My Books</h2>
    <%- include('../partials/reviewCard.ejs') %>
  </main>
</body>
