<%- include('../partials/head.ejs', {page: 'My Books'}) %>

<body>
  <%- include('../partials/nav.ejs') %>

  <main>
    <h1 class="title-font">Revisit books you've read</h1>
    <%- include('../partials/reviewCard.ejs') %>
  </main>
</body>
