<%- include('../partials/head.ejs', {page: 'Register'}) %>

<body>
  <%- include('../partials/nav.ejs') %>

  <main>
    <section class="add-user-section">
      <form class="resgierter-user-form" action="/user/register" method="POST" autocomplete="off">
        <!-- Username Field -->
        <div class="field-container">
          <label class="label">Name:</label>
          <div class="input-container">
            <input type="text" class="data-input" placeholder="Your Name" name="name" />
          </div>
        </div>

        <!-- Email field -->
        <div class="field-container">
          <label class="label">Email:</label>
          <div class="input-container">
            <input type="text" class="data-input" placeholder="your@email.com" name="email" />
          </div>
        </div>

        <!-- Password field -->
        <div class="field-container">
          <label class="label">Password:</label>
          <div class="input-container">
            <input type="text" class="data-input" placeholder="******" name="password" />
          </div>
        </div>

        <div class="register-user-btn-container">
          <button class="btn register-user confirm">Register User</button>
        </div>
      </form>
    </section>
  </main>
</body>
