<%- include('../partials/head.ejs', {page: 'Register'}) %>

<body>
  <%- include('../partials/nav.ejs') %>

  <section class="add-book-section">
    <form action="/user/register" method="POST" autocomplete="off">
      <!-- Book Title Field -->
      <div class="field-container">
        <label class="label">Name:</label>
        <div class="input-container">
          <input type="text" class="data-input" placeholder="Your Name" name="name" />
        </div>
      </div>

      <!-- Book Author field -->
      <div class="field-container">
        <label class="label">Email:</label>
        <div class="input-container">
          <input type="text" class="data-input" placeholder="your@email.com" name="email" />
        </div>
      </div>

      <!-- genre field -->
      <div class="field-container">
        <label class="label">Password:</label>
        <div class="input-container">
          <input type="text" class="data-input" placeholder="******" name="password" />
        </div>
      </div>

      <div class="create-book-container">
        <button class="btn register-user">Register User</button>
      </div>
    </form>
  </section>
</body>
