<%- include('../partials/head.ejs', {page: 'Register'}) %>

<body>
  <%- include('../partials/nav.ejs') %>
  <main>
    <section class="login-container">
      <!-- Login Component -->
      <%- include('../partials/loginComponent.ejs') %>
    </section>
  </main>
</body>
