* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

// body {
//   max-width: 900px;
//   margin: 0 auto;
// }
