@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Karla:ital@1&family=Mulish:wght@600&display=swap');

$title-font: 'Karla', sans-serif;
$header-font: 'Mulish', sans-serif;
$content-font: 'Hind Madurai', sans-serif;

/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Mulish', sans-serif;
*/
