<%- include('../partials/head.ejs', {page: 'Add Book'}) %>

<body>
  <%- include('../partials/nav.ejs') %>

  <section class="add-book-section">
    <form action="/" method="POST">
      <!-- Book Title Field -->
      <div class="field-container">
        <label class="label">Title:</label>
        <div class="input-container">
          <input type="text" class="data-input" placeholder="Book Title" name="title" />
        </div>
      </div>

      <!-- Book Author field -->
      <div class="field-container">
        <label class="label">Author:</label>
        <div class="input-container">
          <input type="text" class="data-input" placeholder="Author" name="author" />
        </div>
      </div>

      <!-- genre field -->
      <div class="field-container">
        <label class="label">Genre:</label>
        <div class="input-container">
          <input type="text" class="data-input" placeholder="Science Fiction" name="genre" />
        </div>
      </div>

      <!-- description field -->
      <div class="field-container">
        <label class="label">Description:</label>
        <div class="input-container">
          <!-- <input type="text" class="data-input" placeholder="Once upon a time" name="description" /> -->
          <textarea
            class="data-input longer-data-input"
            name="description"
            cols="30"
            rows="10"
            placeholder="Once Upon a time..."
          ></textarea>
        </div>
      </div>

      <!-- coverImg field -->
      <div class="field-container">
        <label class="label">Cover Image:</label>
        <div class="input-container">
          <input type="text" class="data-input" placeholder="http://" name="coverImg" />
        </div>
      </div>

      <div class="create-book-container">
        <button class="btn create-book">Create Book</button>
      </div>
    </form>
  </section>
</body>
