@use '../abstracts/' as *;
@use '../base' as f;

.not-logged-splash-body {
  overflow: hidden;
}

.main-content-splash-not-logged {
  position: relative;
}

.splash-log-module {
  position: absolute;
  top: -25rem;
  right: 0;
}
