.main-content-show-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 15px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.review-card {
  border: 1px solid black;
}

.review-options-container {
  display: flex;
  justify-content: flex-end;
}

.review-user-info {
  width: 45%;
  display: flex;
  margin: 5px;
  border: 1px solid blue;
  justify-content: space-between;
}

.display-review-content {
  display: flex;
  width: 100%;
  margin-left: 3em;
}
