.main-content-show-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 15px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.review-card {
  border: 1px solid black;
}
