@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Karla:ital@1&family=Mulish:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Karla:ital@1&family=Mulish:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Karla:ital@1&family=Mulish:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Karla:ital@1&family=Mulish:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 15px;
}

/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Mulish', sans-serif;
*/
input {
  height: 2rem;
  padding: 0.25rem;
}

/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Mulish', sans-serif;
*/
.btn {
  padding: 0.57rem;
  width: 7.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
}

.confirm {
  background-color: #331b09;
  color: #f4f1ea;
}
.confirm:hover {
  background-color: #664329;
}

#nav-container {
  background-color: #f4f1ea;
  height: 50px;
  box-shadow: 0 4px 1px -2px #e6e6e6;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
}

.nav-logo {
  align-self: flex-end;
}

.search-bar-container {
  justify-self: center;
  display: flex;
  width: 450px;
  height: 35px;
  position: relative;
  align-items: center;
}

.search-bar {
  width: 100%;
  height: 32px;
  margin-right: 0;
  padding: 4px 26px 4px 8px;
  border-radius: 5px;
  border: 1px solid #dcd6cc;
}

.search-icon {
  position: absolute;
  right: 4px;
  top: 7px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 19px;
  width: 18px;
}

.nav-links-container {
  width: 160px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  list-style-type: none;
  color: #564132;
}

.log-info {
  width: 12%;
  display: flex;
  justify-content: space-evenly;
}

.log-in-register {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}

.user-info {
  color: #564132;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #564132;
}

.not-logged-nav-bar {
  background-color: #f4f1ea;
  height: 5.3em;
}

.not-logged-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
  height: 100%;
}

.not-logged-nav-logo-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.longer-data-input {
  width: 90px;
  height: 390px;
  border: 1px solid #999999;
  padding: 5px;
}

/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Mulish', sans-serif;
*/
.main-content {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
}

.left-three-quarter {
  width: 70%;
  display: flex;
  padding: 10px;
}

.books-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-wrap: wrap;
}
.books-container .book-card {
  padding: 15px;
}
.books-container .browse-book-title {
  font-family: "Karla", sans-serif;
  text-align: center;
}
.books-container a {
  text-decoration: none;
  color: #564132;
}

.book-content {
  width: 115px;
}

.browse-book-title {
  font-size: 0.75em;
}

.book-thumb-container {
  height: 180px;
  width: 115px;
}
.book-thumb-container .book-thumb {
  height: 180px;
  width: 115px;
}

.main-content-show-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 15px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.review-card {
  border: 1px solid black;
}

.review-options-container {
  display: flex;
  justify-content: flex-end;
}

.review-user-info {
  width: 45%;
  display: flex;
  margin: 5px;
  border: 1px solid blue;
  justify-content: space-between;
}

.display-review-content {
  display: flex;
  width: 100%;
  margin-left: 3em;
}

/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Mulish', sans-serif;
*/
.not-logged-splash-body {
  overflow: hidden;
}

.main-content-splash-not-logged {
  position: relative;
}

.login-section {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -10;
  right: 0;
  border: 1px solid black;
  height: 20rem;
  width: 15rem;
  border-radius: 1rem;
}

.login-content {
  margin-top: 2em;
}

label {
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
}

.log-user-container {
  display: flex;
  justify-content: center;
}

.log-user-in {
  margin: 0 auto;
  margin-top: 1rem;
}

.register-user-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.register-user {
  background-color: #f4f1ea;
  color: #331b09;
}

/*# sourceMappingURL=styles.css.map */
